*{
    margin: 0;
    padding: 0;

}

/* BODY*/

body {
    background-color:#defffc ;

}

header {
    border-bottom: 1px solid black;
    text-align: center;
    padding: 10px 20px;
}

nav ul li{
    list-style: none;
    display: inline-block;
    margin: 0 10px;
}

.logodetoyako {
    margin: 30px;
    border: 4px solid #333;
    border-radius: 10px;
    display: flex;
    flex-direction: row;
}

a {
    text-decoration: none;
    text-transform: uppercase;
    font-weight: bold;
    color:black;
}

main {
    margin: 20px;
    padding: 20px;
}

h1 {
    text-align: center;
    text-decoration: underline;
    margin: 20px 0px;
}

h2 {
    text-align: center;
    color: black;
}

h3 {
    color: red;
    text-align: center;
}

footer {
    margin: 20px;
    padding: 20px;
    border-top: 1px solid black;
    text-align: center;
}


/*nuestros valores*/

.info-valores p {
    text-align: center;

}

.logo2 {
    width: 12.5rem;
    height: 15.625rem;
    justify-items: center;
}

/*PRODUCTOS*/

.contenedor-cards {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    background-color: brown;  
    justify-content: center;
}

.card {
    width: 15.625rem;
    height: 18.75rem;
    background-color: lightgray;
    border-radius: .3125rem;
    box-shadow: 5px 5px 10px ;
    margin: 5px;
}
.card .card-img {
    width: 100%;
    height: 60%;
}

.card .card-img img {
    width: 100%;
    height: 100%;
    
}

.card-info h4 {
    text-align: center;
}

.card-info button {
    text-align: center;
    background-color: red;
}




/*UBICACION*/

.card-info-ubicacion p{
    text-align: center;
}

.img-card {
    width: 200px;
    height: 250px;
    justify-content: flex-start;

}

.caja {
    margin: 10px;
    border: 5px solid #333;
    border-radius: 5px;
}

.imgcaja {
    display: block;
    width: 30%;
    height: 200%;
}

.aceitecaja {
    margin: 10px;
    border: 5px solid #333;
    border-radius: 5px;
}

.imgaceitecaja {
    display: block;
    width: 30%;
    height: 200%;
}

.aceitemotor {
    margin: 10px;
    border: 5px solid #333;
    border-radius: 5px;
}

.imgaceite {
    display: block;
    width: 30%;
    height: 200%;
}

.card-contacto p {
    text-align: center;
}

/*mayorista*/

/*contenedor-mayorista

.contenedor-mayorista {
    display:flex ;
    flex-direction: row;
    background-color: #c90000;
}

.card-mayorista {
    width: 15.625rem;
    height: 18.75rem;
    background-color: lightgray;
    border-radius: .3125rem;
    box-shadow: 5px 5px 10px ;
    margin: 5px;
}

.card-mayorista .card-imagenes {
    width: 100%;
    height: 60%;
}

.card-mayorista .card-imagenes img {
    width: 100%;
    height: 100%;
}





/*contenedor-categorias*/

.contenedor-categorias {
    display: inline-flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    background-color: #333;
}

.card-categorias {
    width: 15.625rem;
    height: 18.75rem;
    background-color: lightgray;
    border-radius: .3125rem;
    box-shadow: 5px 5px 10px ;
    margin: 5px;
}

.card-categorias .card-imagenes {
    width: 100%;
    height: 60%;
}

.card-categorias .card-imagenes img {
    width: 100%;
    height: 100%;
}

.info-categorias {
    text-align: center
}




